.container-complete-profile {
  padding: 0 20px;
}

.container-complete-profile h1 {
  font-size: 30px;
  padding-bottom: 20px;
}

#user_first_name, #user_last_name, #user_location, #user_bio {
  font-family: Reem Kufi;
  border-radius: 12px;
  color: black;
}

.btn-complete {
  font-family: Rasa;
  background-color: #003F88;
  color: white;
  padding: 15px 20px;
  font-size: 26px;
  border-radius: 16px;
}

.select-rounded {
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid #cccccc;
  padding-right: 20px;
  background-color: white;
  margin-bottom: 10px;
}

.select-rounded select {
  width: 100%;
  height: 40px;
  border: 0;
  padding-left: 10px;
  &:focus {
    border-color: none;
    box-shadow: none;
  }
}
