
.btn-complete {
  font-family: Rasa;
  background-color: #003F88;
  color: white;
  padding: 15px 20px;
  font-size: 26px;
  border-radius: 16px;
}

.simple-form-complete-profile input, label {
  font-family: Reem Kufi;
  border-radius: 16px;
}
