.leaderboard {
  table, td, th {
    border: 1px solid black;
  }
}

.leaderboard table {
  width: 90%;
  margin: 10px auto;
}

.leaderboard tr {
  text-align: center;
}

.leaderboard th {
  background-color: #003F88;
  color: white;
}

.you {
  background-color: #5b98df;;
  color: white;
}
