.new-run-top {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  img {
    border-radius: 10px;
    margin: 0 auto;
    outline: 2px solid $main-color;
  }
}

.trail-booking-header {
  font-size: 25px;
  margin: 10px 0 15px 0;
}

.btn-create-run {
  font-family: Rasa;
  background-color: #003F88;
  color: white;
  padding: 15px 20px;
  font-size: 26px;
  border-radius: 10px;
  margin-bottom: 15px;
}
