.new-run-top {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  img {
    border-radius: 3px;
    margin: 0 auto;
    justify-content: center;
  }
}

.trail-booking-header {
  font-size: 25px;
  margin: 5px 0;
}

.btn-create-run {
  font-family: Rasa;
  background-color: #003F88;
  color: white;
  padding: 15px 20px;
  font-size: 26px;
  border-radius: 10px;
  margin-bottom: 15px;
}


.trail-img {
  width: 330px;
  height: 330px;
}

.divider-line {
  border-bottom: 2px solid $main-color;
  width: 80%;
  margin: 15px auto;
}
