.time-inline {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .run_participant_hours, .run_participant_minutes, .run_participant_seconds {
    width: 30%;
  }
  height: 38px;
  margin-bottom: 10px;
}

.star-ratings {
  display:flex;
  gap: 50px;
}

.run-description {
  background-color: $color2;
  padding: 10px 0 10px 10px;
  color: white;
  margin: 0 0 10px 0;
}

.time-label {
  margin: auto;
  padding: 0;
  height: 38px;
  padding: 5px;
}
