<h1>Your Achievements</h1>


<% @my_badges.each do |badge| %>
  <div class="badge-card-container">
    <div class="badge-contents">
      <img src=<%= badge.logo %>>
      <h3><%= badge.name %></h3>
      <p><%= badge.description %></p>
    </div>
  </div>
<% end %>
