<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/css/cdb.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/cdbootstrap@1.0.0/js/cdb.min.js"></script>
</head>

<body>
  <h1>Your achievements</h1>
  <div class="card chart-container">
    <canvas id="chart"></canvas>
  </div>
  <div class="badge-container">
    <% @my_badges.each do |badge| %>
      <div class="badge-card-container">
        <div class="badge-contents">
          <img src=<%= badge.logo %>>
          <h3><%= badge.name %></h3>
          <p><%= badge.description %></p>
        </div>
      </div>
    <% end %>

  <a href="/leaderboard" class="btn-create-run d-block text-center">View leaderboard</a>
  </div>
</body>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js">
</script>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    swal("Congragulations!", "You completed a run!", "success");
  })
</script>

<script>
      const ctx = document.getElementById("chart").getContext('2d');
      const myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Nov 25", "Nov 26", "Nov 27",
          "Nov 28", "Nov 29"],
          datasets: [
            {
            label: 'XP earned',
            backgroundColor: 'rgba(209, 73, 73, 0.3)',
            borderColor: 'rgb(209, 73, 73)',
            data: [5, 6, 8, 4, 7],
            },
            {
            label: 'Total XP',
            backgroundColor: 'rgba(161, 198, 247, 1)',
            borderColor: 'rgb(47, 128, 237)',
            data: [5, 11, 19, 23, 30],
            }
          ]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
              }

            }]
          }
        },
      });
</script>
