<h1>Your achievements</h1>
<div class="badge-container">
  <% @my_badges.each do |badge| %>
    <div class="badge-card-container">
      <div class="badge-contents">
        <i class="<%= badge.logo %>" id="main-badge"></i>
        <h3><%= badge.name %></h3>
        <p><%= badge.description %></p>
      </div>
    </div>
  <% end %>

  <a href="/leaderboard" class="btn-create-run d-block text-center">View leaderboard</a>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    swal("Congragulations!", "You completed a run!", "success");
  })
</script>
