<body>
  <h1>Recent XP progress</h1>
  <%= line_chart @final_hash, width: "362px", height: "200px", id: "xp-chart" %>

  <br>
  <h1>Achievements</h1>
  <div class="badge-container">
    <% @my_badges.each do |badge| %>
      <div class="badge-card-container">
        <div class="badge-contents">
          <div id="large-badge"><i class="<%= badge.logo %>" id="main-badge"></i></div>
          <div class="badge-text-container">
            <h3><%= badge.name %></h3>
            <p><%= badge.description %></p>
          </div>
        </div>

      </div>
    <% end %>

    <a href="/leaderboard" class="btn-create-run d-block text-center" id="leaderboard-button">View leaderboard</a>
  </div>
</body>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js">
</script>

<script>
  document.addEventListener("DOMContentLoaded", function(){
    swal("Congratulations!", "You completed a run!", "success");
  })
</script>

<% xp_earned = RunParticipant.where(user_id: current_user.id).last.distance.to_i %>
