<div class="chatroom-container">
  <% @chatrooms.each do |chatroom| %>
    <% if chatroom.user_id == current_user.id%>
      <div class="col-lg-4">
        <div class="chatroom-profile-card p-0">
          <div class="chatroom-profile-img"><%= cl_image_tag User.find(chatroom.recipient_id).avatar.key%></div>
          <div class="text-center"><%= link_to User.find(chatroom.recipient_id).first_name, chatroom_path(chatroom) %></div>
        </div>
      </div>
    <% else %>
      <div class="col-lg-4">
        <div class="chatroom-profile-card p-0">
          <div class="chatroom-profile-img"><%= cl_image_tag User.find(chatroom.user_id).avatar.key%></div>
          <div class="text-center"><%= link_to User.find(chatroom.user_id).first_name, chatroom_path(chatroom) %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
