<div>
  <div class="banner-header">
    <div class="banner-heading">It's your time to shine</div>
    <div class="banner-slogan">You're not alone, find other runners like you</div>
    <% if user_signed_in? %>
      <%= link_to "Find Runners", users_path, class:"btn btn-light"%>
    <% else %>
      <%= link_to "Join Now", new_user_registration_path, class:"btn btn-light" %>
    <% end %>
  </div>
</div>
<div>
  <div class="homepage-text">
    <h2>Accountability</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <img src="https://img.dtcn.com/image/themanual/man-taking-notes-with-pen-500x500.jpg" alt="">
  </div>
</div>
