<div>
  <div class="banner-header">
    <div class="banner-heading">It's your time to shine</div>
    <div class="banner-slogan">Connect with other runners in your area!</div>
    <% if user_signed_in? && current_user.first_name != nil %>
      <%= link_to "Find Runners", users_path, class:"btn btn-light"%>
    <% elsif user_signed_in? %>
      <%= link_to "Start your Journey", new_user_registration_path, class:"btn btn-light" %>
    <% else %>
      <%= link_to "Join now", new_user_registration_path, class:"btn btn-light" %>
    <% end %>
  </div>
</div>
<div>
  <div class="homepage-text">
    <h2>Accountability</h2>
    <p>Running consistently can be a challenge. With RunLink, you can connect with other running enthusiasts to keep each other motivated, track your runs while earning badges to celebrate key milestones, and see how you stack up against other runners.</p>
    <img class="cropped-image" src="https://thrivingmarriages.com/wp-content/uploads/2020/06/marathon.jpg" alt="Two supportive runners">
  </div>
</div>
