.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.trail-card {
  margin-bottom: 22px;
  width: 330px;
  background-color: $card-color;
  border-radius: 10px;
  outline: 2px solid $main-color;
  position: relative;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.card-img{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $main-color;
  img {
    border-radius: 10px 10px 0px 0px;
  }
}

.organize-button {
  position: absolute;
  z-index: 1;
  background-color: rgba(40, 167, 69, 1);
  padding: 8px 12px;
  color: white;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  top: 8px;
  right: 8px;
  outline: 2px solid white;
}

.organize-button:hover {
  color: white;
  outline: 3px solid white;
}

.card-text {
  display: flex;
}

.card-text-bottom {
  padding-top: 10px;
  display: flex;
  background-color: $main-color;
  color: white;
  text-align: center;
  box-sizing: border-box;
}

.distance,
.difficulty,
.rating {
  width: 33.33333%;
}

.bottom-text{
  font-weight: 500;
}

.bottom-separator {
  height: 10px;
  background-color: $main-color;
  border-radius: 0px 0px 10px 10px;
  // outline: 1px $main-color solid;
}

.rating {
  border-left: 2px solid $bg-color;
  border-right: 2px solid $bg-color;
}

a {
  text-decoration: none;
}

.trail-name {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin: 5px 15px 10px 15px ;
  a {
    text-decoration: none;
  }
}

.trail-name:hover {
  color: $main-color;
}

.trail-description {
  margin: 5px 15px 15px 15px;
}

#not-filled {
  color: gray;
}

#not-filled-light {
  color: rgba(175,175,175,1);
}

.fa-star {
  font-size: 13px;
}

.fa-running {
  margin: 0 1px;
}

// .distance-label {
//   font-size: 20px;
// }

// #label-margin-bottom {
//   margin-bottom: 11px;
// }
