.navbar-lewagon {
  justify-content: space-between;
  background: white;
}
#runlink-logo {
  font-family: 'Rasa';
  color: #00296B;
  text-decoration: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
