.weather-img {
  height: 100%;
  width: 100%;
}

#weather-table {
  margin: 12px 0px 12px 0px;
  width: 100%;
  padding: 6px;
  // border: 1px solid gray;
  border-radius: 5px;
  outline: 1px solid gray;
  th {
    width: 14.285%;
    // border: 1px solid $main-color;
    text-align: center;
  }
  td {
    width: 14.285%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
  }

  td:first-child {
    border-left: none;
  }

  td:last-child {
    border-right: none;
  }
}



#weather-table .first-main-row {
  text-align: center;
  // border-top: 1px solid $main-color;
  // border-right: 1px solid $main-color;
  // border-left: 1px solid $main-color;
}

#weather-table .second-main-row {
  // border-right: 1px solid $main-color;
  // border-bottom: 1px solid $main-color;
  // border-left: 1px solid $main-color;
}

table {
  background-color: white;
  margin: 10px auto 0 auto;
}
