.weather-img {
  height: 100%;
  width: 100%;
}

#weather-table {
  margin: 0 auto;
  width: 100%;
  // font-size: 15px;
}

#weather-table td {
  width: 14.285%;
}

#weather-table {
  th {
    width: 14.285%;
    border: 1px solid $main-color;
    text-align: center;
  }
}

#weather-table .first-main-row {
  text-align: center;
  border-top: 1px solid $main-color;
  border-right: 1px solid $main-color;
  border-left: 1px solid $main-color;
}

#weather-table .second-main-row {
  border-right: 1px solid $main-color;
  border-bottom: 1px solid $main-color;
  border-left: 1px solid $main-color;
}

table {
  background-color: white;
  margin: 10px auto 0 auto;
}
